<!DOCTYPE html>
<html>

<head>
	<title>Super Market an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Groceries ::
		w3layouts</title>

	<link rel="icon" href="http://www.atozonlinemart.com/images/logo.png">

	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords"
		content="Super Market Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- //for-mobile-apps -->
	<link href="http://www.atozonlinemart.com/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="http://www.atozonlinemart.com/css/style.css" rel="stylesheet" type="text/css" media="all" />

	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

	<!-- js -->
	<script src="http://www.atozonlinemart.com/js/jquery-1.11.1.min.js"></script>

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="http://www.atozonlinemart.com/js/move-top.js"></script>
	<script type="text/javascript" src="http://www.atozonlinemart.com/js/easing.js"></script>

	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<style>
		.fileWidth{
			width: 170px;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			border: 1px solid #ddd;
		}

		th,
		td {
			text-align: center;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2
		}

		.scrollbar-product {
			overflow: auto;
			height: 91vh;
			border-radius: 10px;
		}

		.product-image {
			height: 180px;
			width: 180px;
		}

		@media screen and (min-width: 768px) {
			.categories ul li {
				display: block;
				font-size: 20px;
				margin: 10px 22px;
			}

		}

		@media screen and (max-width: 769px) {
			.categories ul li {
				display: block;
				font-size: 20px;
				margin: 10px 0px;
			}

		}

		.down-arrow {
			display: inline;
			padding: 0px 10px 0px;
			position: absolute;
			top: 63px;
		}

		.main-heading-product {
			display: inline !important;
			color: gray;
			font-size: 19px;
			cursor: pointer;
		}

		.main-heading-product:hover {
			color: #FE9126;
		}


		.categories ul li a {
			color: #999;
			text-decoration: none;
		}

		.categories ul li a:hover {
			color: #3399cc;
		}

		.categories ul li span {
			float: right;
		}
	</style>
</head>

<body>

	<% include header %>

	<% if (session) { %>

	<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="fa fa-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Products</li>
				<a style="float: right;" href="/logout"><span style="margin-right: 5px;" class="fa fa-power-off"
						aria-hidden="true"></span>Logout</a>
			</ol>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!--- groceries --->
	<div style="padding-top:10px;" class="products">
		<div class="container">
			<h2 style="margin-bottom : 40px;" class="w3_agile_header"><%= displayCategoryId%></h2>
			
			<% if (message.length > 0) { %>
			<div class="alert alert-success col-sm-12"><%= message %></div>
			<% } %>


			<div class="col-md-3 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul style="margin-top: 10px;" class="faq">
						<%  for (var i = 0; i < productCategoryList.length; i++) { %>
						<li>
							<div class="main-heading-product" value="<%= productCategoryList[i].name%>"
								onclick="location.href='/admin-category/<%= productCategoryList[i].name%>'">
								<%= productCategoryList[i].displayName%></div>
							<% if(Object.keys(productCategoryList[i].subCategory).length > 0) { %>
							<a style="padding: 0px 10px; float: right;" href="#"><i
									class="fa fa-angle-down" aria-hidden="true"></i></a>
							<% } %>
							<ul>
								<% if(Object.keys(productCategoryList[i].subCategory).length > 0) { %>
								<% for (var [key, value] of Object.entries(productCategoryList[i].subCategory)) { %>
								<li style="font-size: 14px;"><a
										href="/admin-subCategory/<%= productCategoryList[i].name%>/<%= value%>"><i
											class="fa fa-arrow-right" aria-hidden="true"></i><%= key%></a>
								</li>
								<% } %>
								<% } %>
							</ul>
						</li>
						<% } %>
					</ul>
				</div>
			</div>
			<div class="col-md-9 products-right">
				<% if(subCategoryId.length != 0) { %><h4 style="margin-bottom : 20px; margin-left: 5px;"
					class="w3_agile_header">
					<%= displaySubCategoryId%>
				</h4> <% } else {%>
					<div class="col-md-6 products-left">
					<form style="display: inline;" role="form" method="post"
					action="/addSubCategory/<%= categoryId %>"
					enctype="multipart/form-data">
				<span>Sub Category : </span>
					<input style="width: 43%;" type="text" name="addSubCategory" required>
				<input type="submit" value="Add">
				</form>
				</div>
				<div class="col-md-6 products-left">
				<form style="display: inline;" role="form" method="post"
					action="/deleteSubCategory/<%= categoryId %>"
					enctype="multipart/form-data">
				<span>Sub Category : </span>
				<select style="width: 37%; height: 28px;" value="" name="deleteSubCategory" required>
					<option value="">Select</option>
					<% for (var i = 0; i < dropdownList.length; i++) { %>
					<option value="<%= dropdownList[i].name%>">
						<%= dropdownList[i].displayName%></option>
					<% } %>
				</select>
				<input type="submit" value="Delete">
				</form>
			</div>
				<br><br>
					<% } %>

				<div style="overflow-x:auto;">
					<table>
						<tr>
							<th>Image</th>
							<% if(subCategoryId.length == 0) { %>
							<th>Sub Category</th>
							<% } %>
							<th>Name</th>
							<th>Actual Price</th>
							<th>Cutting Price</th>
							<th>Action</th>
						</tr>
						<tr>
							<% if (editProduct) { %>

							<% if(subCategoryId.length == 0) { %>
							<form role="form" method="post"
								action="/admin-category-add/<%= categoryId %>/<%= editProduct.id%>"
								enctype="multipart/form-data">
								<td><input type="file" class="fileWidth" accept="image/*" value="<%= editProduct.img %>" name="img"
										required></td>

								<% if(subCategoryId.length == 0) { %>
								<% if(dropdownList.length > 0) { %>
								<td><select value="" name="subCategory" required>
										<option value="">Select</option>
										<% for (var i = 0; i < dropdownList.length; i++) { %>
										<option value="<%= dropdownList[i].name%>,<%= dropdownList[i].displayName%>">
											<%= dropdownList[i].displayName%></option>
										<% } %>
									</select></td>
								<% } else {%>
								<td><select disabled name="subCategory" required>
										<option value="">No Category Selected</option>
									</select></td>
								<% } %>
								<% } %>

								<td><input type="text" value="<%= editProduct.name %>" name="name" required></td>
								<td><input style="width: 75%;" type="number" value="<%= editProduct.actualPrice %>"
										name="actualPrice" required></td>
								<td><input style="width: 75%;" type="number" value="<%= editProduct.cuttingPrice %>"
										name="cuttingPrice"></td>
								<td><input type="submit" value="Add/Update"></td>
							</form>

							<% } else { %>

							<form role="form" method="post"
								action="/admin-subCategory-add/<%= categoryId %>/<%= subCategoryId %>/<%= editProduct.id%>"
								enctype="multipart/form-data">
								<td style="display: none;"><input type="text" value="<%= displaySubCategoryId %>"
										name="displaySubCategoryId" required></td>
								<td><input type="file" class="fileWidth" accept="image/*" value="<%= editProduct.img %>" name="img"
										required></td>
								<td><input type="text" value="<%= editProduct.name %>" name="name" required></td>
								<td><input style="width: 75%;" type="number" value="<%= editProduct.actualPrice %>"
										name="actualPrice" required></td>
								<td><input style="width: 75%;" type="number" value="<%= editProduct.cuttingPrice %>"
										name="cuttingPrice"></td>
								<td><input type="submit" value="Add/Update"></td>
							</form>
							<% } %>


							<% } else { %>

							<% if(subCategoryId.length == 0) { %>
							<form role="form" method="post" action="/admin-category-add/<%= categoryId %>"
								enctype="multipart/form-data">
								<td><input type="file" class="fileWidth" name="img" required></td>

								<% if(subCategoryId.length == 0) { %>
								<% if(dropdownList.length > 0) { %>
								<td><select name="subCategory" value="" required>
										<option value="">Select</option>
										<% for (var i = 0; i < dropdownList.length; i++) { %>
										<option value="<%= dropdownList[i].name%>,<%= dropdownList[i].displayName%>">
											<%= dropdownList[i].displayName%></option>
										<% } %>
									</select></td>
								<% } else {%>
								<td><select disabled name="subCategory" required>
										<option value="">No Category Selected</option>
									</select></td>
								<% } %>
								<% } %>

								<td><input type="text" name="name" required></td>
								<td><input style="width: 75%;" type="number" name="actualPrice" required></td>
								<td><input style="width: 75%;" type="number" name="cuttingPrice"></td>
								<td><input type="submit" value="Add/Update"></td>
							</form>

							<% } else { %>


							<form role="form" method="post"
								action="/admin-subCategory-add/<%= categoryId %>/<%= subCategoryId %>"
								enctype="multipart/form-data">
								<td><input type="file" class="fileWidth" name="img" required></td>
								<td style="display: none;"><input type="text" value="<%= displaySubCategoryId %>"
										name="displaySubCategoryId" required></td>
								<td><input type="text" name="name" required></td>
								<td><input style="width: 75%;" type="number" name="actualPrice" required></td>
								<td><input style="width: 75%;" type="number" name="cuttingPrice"></td>
								<td><input type="submit" value="Add/Update"></td>
							</form>
							<% } %>

							<% } %>
						</tr>
					</table>
				</div>
				<br>
				<hr style="border: 1px solid black;"><br>
				<div style="overflow-x:auto;" class="scrollbar-product">
					<table>
						<tr>
							<th>Image</th>

							<% if(subCategoryId.length == 0) { %>
							<th>Sub Category</th>
							<% } %>
							<th>Name</th>
							<th>Actual Price</th>
							<th>Cutting Price</th>
							<th colspan="2">Action</th>
						</tr>
						<% for(var i in products) { %>
						<tr>
							<td><img style="height: 40px;" src="http://www.atozonlinemart.com/uploads/<%= products[i].img%>">
							</td>
							<% if(subCategoryId.length == 0) { %>
							<td><input disabled type="text" value="<%= products[i].displaySubCategory%>"></td>
							<% } %>
							<td><input disabled type="text" value="<%= products[i].name%>"></td>
							<td><input disabled style="width: 75%;" value="<%= products[i].actualPrice%>" type="number">
							</td>
							<td><input disabled style="width: 75%;" value="<%= products[i].cuttingPrice%>"
									type="number"></td>
							<form role="form" method="post" action="/admin-edit" enctype="multipart/form-data">
								<td style="display: none;"><input style="width: 75%;" name="editId"
										value="<%= products[i].id%>" type="number"></td>
								<td style="display: none;"><input style="width: 75%;" name="categoryId"
										value="<%= categoryId%>" type="text"></td>
								<td style="display: none;"><input style="width: 75%;" name="subCategoryId"
										value="<%= subCategoryId%>" type="text"></td>
								<td><button type="submit">Edit</button></td>
							</form>
							<form role="form" method="post" action="/admin-delete" enctype="multipart/form-data">
								<td style="display: none;"><input style="width: 75%;" name="deleteId"
										value="<%= products[i].id%>" type="number"></td>
								<td style="display: none;"><input style="width: 75%;" name="categoryId"
										value="<%= categoryId%>" type="text"></td>
								<td style="display: none;"><input style="width: 75%;" name="subCategoryId"
										value="<%= subCategoryId%>" type="text"></td>
								<td><button type="submit"
										onclick="return confirm('Are you sure you want to Delete?')">Delete</button>
								</td>
							</form>
						</tr>
						<% } %>
					</table>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

	<% } else { %>
	<!-- <img src="" alt="not found"> -->
	<div style="text-align: center;">
		<img style="width: 65%; height: auto;" class="category-img" alt="not found"
			src="http://www.atozonlinemart.com/images/403.jpg" />
	</div>
	<% } %>

	<!--- groceries --->
	<% include footer %>


	<!-- Bootstrap Core JavaScript -->
	<script src="http://www.atozonlinemart.com/js/bootstrap.min.js"></script>
	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->


	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>

	<!-- //here ends scrolling icon -->
	<script src="http://www.atozonlinemart.com/js/minicart.min.js"></script>
	<script>
		// Mini Cart
		paypal.minicart.render({
			action: '#'
		});

		if (~window.location.search.indexOf('reset=true')) {
			paypal.minicart.reset();
		}
	</script>
	<!-- main slider-banner -->
	<script src="http://www.atozonlinemart.com/js/skdslider.min.js"></script>
	<link href="http://www.atozonlinemart.com/css/skdslider.css" rel="stylesheet">
	<script type="text/javascript">
		jQuery(document).ready(function () {
			jQuery('#demo1').skdslider({ 'delay': 5000, 'animationSpeed': 2000, 'showNextPrev': true, 'showPlayButton': true, 'autoSlide': true, 'animationType': 'fading' });

			jQuery('#responsive').change(function () {
				$('#responsive_wrapper').width(jQuery(this).val());
			});

		});
	</script>
	<!-- //main slider-banner -->

</body>

</html>